/* Universal CSS*/
:root {
    --primary-color: #D5D5CC;
    --secondary-color: #AFB7A0;
    --tertiary-color: #969d7d;
    --quaternary-color: #6E755A;
    --quinary-color: #bd815d;
}

/*Header*/
header {
    background-color: var(--quaternary-color);
    padding: auto;
    display: flex;
    flex-wrap: wrap;
    z-index: 9999;
    border-radius: 15px;
    align-items: right;
}

header h2 {
    margin: 15px;
}

body {
    background-color: var(--secondary-color);
    justify-content: space-around;
    position: center;
}

.welcome {
    text-align: center;
    padding: 20px;
    margin: 200px;
    margin-top: 130px;
    background-color: var(--primary-color);
    border-radius: 25px;
}

button {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-decoration: none;
    background-color: var(--quaternary-color);
}

.quiz {
    text-align: center;
    padding: 20px;
    margin: 200px;
    margin-top: 130px;
    background-color: var(--primary-color);
    border-radius: 25px;
}
